<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/style/listQuestion.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
    <div class="wrapper">
        <div class="panel">
            <h2 class="panel-title">Test Savollar</h2>
            <ol class="question-list" type="1">
                <div class="test" th:each="question : ${questions}">
                    <li class="question-item">
                        <span class="question-text" th:text="${question.text}"></span>
                        <ol class="answer-list" type="a" >
                            <div th:each="answer : ${question.getAnswers()}">

                                <li  class="answer-item"
                                     th:id="${answer.text}"
                                     th:text="${answer.text}">
                                </li>
                            </div>
                        </ol>
                    </li>
                </div>
            </ol>
            <a class="button-back" th:href="@{/}">Orqaga</a>
        </div>
    </div>
</body>
</html>