<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/style/listQuestion.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
    <div class="wrapper">
        <div class="panel">
            <h2 class="panel-title">Test Savollar</h2>
            <div class="question-list-wrapper">
                <ol class="question-list" type="1">
                    <li class="question-item" th:each="question : ${questions}">
                        <span class="question-text" th:text="${question.text}"></span>
                        <ol class="answer-list" type="a">
                            <li class="answer-item"
                                th:each="answer : ${question.getAnswers()}"
                                th:id="${answer.text}"
                                th:text="${answer.text}">
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
            <div class="panel-footer">
                <a class="button-back" th:href="@{/}">Orqaga</a>
            </div>
        </div>
    </div>
</body>
</html>