<!DOCTYPE html>
<html lang="en">
<link th:href="@{/style/main.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Test Topshirish</title>

    <script>
        function goToTest() {
            let base = window.location.origin;
            let path = "/testmakermvc/test";

            let checked = document.querySelector('input[name="user_response"]:checked');
            let userResponse = checked ? document.querySelector('input[name="user_response"]:checked').value : 'NONE';

            let url = base + path + '?userResponse=' + userResponse;

            // Navigate to it
            window.location.href = url;
        }
    </script>


</head>
<body>
    <div class="wrapper">
        <h2>Test Topshirish</h2>
        <span th:text="${question.text}"></span>
            <div class="answer-box" th:each="answer : ${question.getAnswers()}">
                <label class="radio-container">
                    <input type="radio" th:name="user_response"
                           th:value="${answer.text}"/>
                    <span class="custom-radio"></span>
                    <span class="answer-text" th:text="${answer.text}"></span>
                </label>
            </div>
        <div class="bottom-button-box">
            <a th:href="@{/}">Orqaga</a>
            <a href="#" onclick='goToTest()'>Keyingisi</a>
        </div>
    </div>
</body>
</html>